body {
  height: 95vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', Roboto, sans-serif;
  /*display: flex;*/
  /*display: -webkit-flex;*/
  /*flex-direction: column;*/
  /*-webkit-flex-direction: column;*/
  /*align-items: center;*/
  /*-webkit-align-items: center;*/
  /*justify-content: center;*/
  background-color: #3a4061; /*#363636;*/
  /*animation-name: body;*/
  /*animation-duration: 20ms;*/
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1 {
  font-size: 2.5em;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.visible {
  visibility: hidden;
}

#main-board {
  display: inline-flex;
  /*-webkit-display: inline-flex;*/
  /*border: 1px solid white;*/
  margin: 0;
  /*padding: 0;*/
  /*margin-top: 5%;*/
  /*margin-bottom: 0;*/
  /*height: 600px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  max-width: 85%;
  max-height: 80%;
  /*box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.40);*/
}

#inner-circle:hover {
  cursor: pointer;
}

.quads-hover-on-off:hover {
  cursor: pointer;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  /*opacity: 0;*/
  visibility: hidden;
  z-index: 10;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 2px solid black; /* 1px */
  border-radius: 50%;
  background-color: #ccc; /* #000 or #7a80a1 */
  color: #000;  /* #ccc */
  font-weight: bold;
}

#inner-circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  /*opacity: 0;*/
  /*visibility: hidden;*/
  z-index: 10;
  padding: 0;
  /*background-color: #ccc;*/
  color: #000;
  text-align: center;
  font-size: 2.8vmin;
  font-weight: bold;
}

.start-hover-on-off:hover {
  cursor: pointer;
  letter-spacing: 1px;
  /*color: #eee;*/
}

/* not sure what this is doing...*/
button:focus {
  outline: 0;
}

#colorSequence {
  text-align: left;
  /*text-align-last: left;*/
  position: absolute;
  margin-bottom: 0;
  visibility: hidden;
  bottom: 15px;
  left: 10px;
  /*transform: translate(-50%, 0);*/
  /*-webkit-transform: translate(-50%, 0);*/
  max-width: 65%;
  word-wrap: break-word;
  /*font-size: 2em; */
  color: #ccc;
}

/*#controls1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 20px;
  bottom: 10px;
  right: 10px;
  color: #ccc;
  font-size: 0.8em;
  line-height: 0.8em;
}*/

/*#controls2 {
  position: absolute;
  display: none;
  width: 100px;
  padding-left: 5px;
  bottom: 20px;
  right: 15px;
  color: #ccc;
  font-size: 0.8em;
}*/

#controls {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 200px;
  color: #ccc;
  font-size: 0.8em;
  line-height: 0.8em;
}

#controls4 {
  display: none;
}

#controls1, #controls2 {
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

input {
  width: 54px;
}

.radio1, .radio2, .radio3 {
  height: 1.6em;
  width: 1.6em;
}

/*.radio1-text {
  margin: 0 4px 0 4px;
  position: relative;
  top: 7px;
}*/

.radio-text {
  margin-left: 4px;
  position: relative;
  top: -6px;
}

#wrong {
  position: absolute;
  width: 70px;
  top: 300px;
  left: 18px;
  color: #ccc;
  background-color: red;
  font-size: 0.8em;
  border: 1px solid black;
}

#wrong:hover {
  cursor: pointer;
  letter-spacing: 1.2px;
  color: #eee;
}


/********************************************
 Animations:
********************************************/

.board-intro {
  animation-name: intro;
  animation-delay: 5ms;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  -webkit-animation-name: intro;
  -webkit-animation-delay: 5ms;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  /*animation-timing-function: cubic-bezier(0.3, 0.1, 0.5, 0.3);*/
}

.board-spin {
  animation-name: spin;
  animation-delay: 0ms;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  /*animation-timing-function: cubic-bezier(.75,.19,.53,1.02);*/
  -webkit-animation-name: spin;
  -webkit-animation-delay: 0ms;
  -webkit-animation-duration: 4s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  /*-webkit-animation-timing-function: cubic-bezier(.75,.19,.53,1.02);*/
}

@keyframes intro {
  from {
    /*top: 80%;*/
    transform: translate(-50%, -50%) rotate(0deg) scale(0.02);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    /*top: 50%;*/
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
    transform-origin: centre;
    opacity: 1;
  }
}

-webkit-@keyframes intro {
  0% {
    /*top: 80%;*/
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.02);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    /*top: 50%;*/
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    -webkit-transform-origin: centre;
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: centre;
  }
}

-webkit-@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform-origin: centre;
  }
}


/**********************************************
 MEDIA QUERIES:
**********************************************/

@media (orientation: portrait) {
  /*#controls1 {
    display: block;
    width: 85px;
    height: 80px;
  }

  .radio1-text {
    margin-left: 4px;
    position: relative;
    top: -6px;
  }*/
}

@media (max-height: 770px) {
  h1 {
    font-size: 1.8em;
    letter-spacing: 2px;
  }

  #start {
    background-color: #ccc;
    color: #000;
    border-width: 2px;
  }

  .start-hover-on-off:hover {
    cursor: pointer;
    letter-spacing: 0;
    color: #000;
  }

  #controls {
    bottom: 10px;
  }
}

@media (max-height: 600px) {
  #main-board {
    top: 45%;
    max-width: 90%;
  }

  #start, #inner-circle-text {
    top: 45%;
  }
}

@media (max-width: 770px) {
  h1 {
    font-size: 1.8em;
    letter-spacing: 2px;
  }

  #start {
    background-color: #ccc;
    color: #000;
    border-width: 2px;
  }

  .start-hover-on-off:hover {
    cursor: pointer;
    letter-spacing: 0;
    color: #000;
  }
}

@media (max-width: 800px) {
  #controls {
    right: 10px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    letter-spacing: 2px;
  }
}

@media (orientation: portrait) and (max-width: 650px) {
  #controls2 {
    display:none;
  }

  #controls {
    height: 135px;
    bottom: 10px;
  }
}

@media (orientation: landscape) and (max-height: 770px) {

}
